.header {
  background: #1F2937;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  font-weight: 900;
  font-size: 24px;
  color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    border-bottom: 1px solid #1F2937;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    padding: 16px 32px;
}
body {
  margin: 0;
  background: #eee;
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 48px;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  align-content: center;
  justify-content: center;
  
}

.info-title {
    text-align: center;
}


.card {
    width: 150px;
    text-align: center;
    font-size: 18px;
}

.illustration {
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

ul {
  list-style-type: none;
  text-decoration: none;

}


.links a {
    text-decoration: none;
    font-size: 14px;
    color:#F9FAF8
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-weight: 900;
}

.links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.lefttwo, .righttwo {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB

}
.placeholder {
    display: flex;

}
.righttwo {
  background-color: lightgrey;
  width: 500px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}



.hero-section-one {
    background-color: #1F2937;
    font-size: 48px;
}

.hero-section-two {
    background-color:#eee
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.bone {
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 6px;
}

.btwo {
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 6px;
}

.hero-section-two {
    font-size: 36px;
    color: #1F2937;
    weight: 900
}

.hero-section-three {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    weight: 300;
    font-style: italic;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    weight: 300;
    font-style: italic;
    padding: 50px 50px 50px 50px
}

.hero-section-four {
    display: flex;
    flex-wrap: nowrap;
    background-color: #3882f6;
    color:#F9FAF8;
    margin: 50px 50px 50px 50px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    

    
}
